/* General Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0rem 2rem;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
  }
  
  .logo {
    vertical-align: middle;
    width: 200px;
  }
  
  .navbar-links {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
  
  .navbar-links a {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
  }
  
  .navbar-links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  nav .btn {    
    justify-content: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 120px;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  nav .btn:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* Profile Dropdown */
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.8rem; 
  }
  
  .icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--primary-color);
    transition: color 0.3s ease;
  }
  
  /* Dropdown Menu Styling */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 6px; 
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15); 
    margin-top: 0.5rem;
    padding: 0.2rem 0;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }
  
  /* Show the dropdown */
  .dropdown:hover .dropdown-menu,
  .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdown-item {
    padding: 12px 20px;
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #fbf4e2;
  }
  
  .logout {
    color: red !important;
  }
  
  .logout:hover {
    background-color: #f1ccc8;
  }