.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.error-message::before {
    content: "*";
    margin-right: 5px;
    color: red;
}

.profile-form {
    background-color: var(--light-gray-color);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    position: relative; 
}

.profile-form h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    margin: 0 auto 20px; 
    text-align: center; 
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 0; 
    width: 100%; 
    text-align: center; 
    position: relative; 
}

.profile-picture {
    width: 150px; 
    height: 150px; 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; 
    top: -75px; 
    left: 20px; 
    border: 3px solid var(--primary-color); 
}

.profile-info {
    margin-top: 70px; 
}

.profile-info-item {
    margin-bottom: 10px;
}

.profile-info-item h1 {
    font-size: 24px;
    margin: 0;
}

.profile-info-item p {
    font-size: 18px;
    margin: 0;
}

.profile-info-item .FaPencilAlt {
    cursor: pointer;
    color: blue;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-section h3 {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.profile-section ul {
    list-style-type: none;
    padding: 0;
}

.profile-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.profile-section li .FaTimes {
    cursor: pointer;
    color: red;
}

.profile-section button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.profile-section button:hover {
    background-color: var(--primary-dark-color);
}

.education-item {
    margin-bottom: 15px;
}

.education-item h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color); 
}

.education-item p.major {
    font-size: 18px;
    margin: 5px 0;
}

.education-item p.duration {
    font-size: 16px;
    color: gray; 
}

.modal {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    max-width: 500px;
    margin: auto;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; 
}

.modal button[type="submit"]:hover {
    background-color: var(--primary-dark-color);
}

.experience-item {
    margin-bottom: 15px;
}

.experience-item div {
    margin-bottom: 5px;
}

.experience-item .job-title {
    font-weight: bold;
    font-size: 18px;
}

.experience-item .company {
    font-size: 16px;
    font-weight: bold;
}

.experience-item .time-worked {
    font-size: 16px;
    color: gray;
}

.experience-item .description {
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
    line-height: 1.4;
}

input[type="date"] {
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.date-label {
    font-weight: bold;
    margin-right: 10px;
}

